KEYSTORE_FILE=com.hzlgrn.pdxrail.jks
KEYSTORE_KEY_ALIAS=alias
KEYSTORE_PASSWORD=secret

HOME_HOST=pdxrail.hzlgrn.com

KEY_API_GOOGLE=google-api-key-with-maps-android-enabled

KEY_API_RAIL_SYSTEM=rail-system-api-key
URL_API_RAIL_SYSTEM=https://pdxrail.hzlgrn.com/