UPLOAD_KEYSTORE_FILE=com.hzlgrn.pdxrail.jks
UPLOAD_KEYSTORE_ALIAS=alias
UPLOAD_KEYSTORE_PASSWORD=secret

HOME_URL=https://pdxrail.hzlgrn.com
HOME_HOST=pdxrail.hzlgrn.com

API_GOOGLE_KEY=google-api-key-with-maps-android-enabled

API_RAIL_SYSTEM_KEY=rail-system-api-key
API_RAIL_SYSTEM_URL=https://pdxrail.hzlgrn.com/